<div layout="row">
  <div flex>
    <h3>
      Order Food
    </h3>

    <p>
      <b>Important: You can order food for the next week until Friday this week.</b>
    </p>

    <p ng-show="vm.orderingAllowed">
      Time left to {{ vm.orderDeadline.format($root.helpers.appConfig.date.format) }} (order deadline):
      <br>
      <timer end-time="vm.orderDeadline.valueOf()">{{days}} days, {{hours}} hours.</timer>
    </p>

    <h4 ng-if="!vm.orderingAllowed">Orders for this week are closed.</h4>
  </div>
</div>

<div layout="row" layout-wrap>
  <div flex flex-md="100" flex-sm="100" layout="column">
    <div>
      <h3>
        <md-button ng-click="vm.setPrevWeek()" class="md-fab md-raised md-mini"><i class="material-icons">chevron_left</i></md-button>
        Menus for week {{ vm.weekStart }} - {{ vm.weekEnd }}
        <md-button ng-click="vm.setNextWeek()" class="md-fab md-raised md-mini"><i class="material-icons">chevron_right</i></md-button>
      </h3>
    </div>
    
    <div layout="row" layout-wrap layout-padding>
      <md-content flex="20" flex-sm="100" flex-md="50" ng-repeat="tab in vm.dayTabs">

        <md-toolbar>
          <div class="md-toolbar-tools">
            <h3 flex>{{ tab.title }}</h3>
          </div>
        </md-toolbar>

        <div style="text-align: center;">
          <div ng-show="tab.orderedForDay">
            <md-card>
              <img ng-if="tab.orderedForDay.food.image" ng-src="{{ tab.orderedForDay.food.image }}" class="md-card-image" alt="{{ tab.orderedForDay.food.description }}">
              <md-card-content>
                <h2 class="md-title">{{ tab.orderedForDay.food.description }}</h2>
              </md-card-content>
              <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-disabled="true" flex>
                  Ordered
                  <i class="material-icons">done</i>
                </md-button>
              </div>
            </md-card>
          </div>

          <div ng-show="!tab.orderedForDay">
            <div ng-repeat="menuFood in tab.menuFoods">
              <md-card>
                <img ng-if="menuFood.food.image" ng-src="{{ menuFood.food.image }}" class="md-card-image" alt="{{ menuFood.food.description }}">
                <md-card-content>
                  <h2 class="md-title">{{ menuFood.food.description }}</h2>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center" ng-if="vm.orderingAllowed">
                  <md-button ng-show="!vm.isOldMenu(menuFood.menu)" flex ng-click="vm.orderMenuFood(menuFood)">Order</md-button>
                </div>
              </md-card>
            </div>
          </div>
        </div>
      </md-content>
    </div>


    
  </div>
</div>
