<h3>
  Order Food
</h3>

<div layout="row" layout-wrap>
  <div flex flex-md="100" flex-sm="100">Hello</div>
  <div flex flex-md="100" flex-sm="100" layout="column">
    <div>
      <h3>
        <md-button ng-click="vm.setPrevWeek()" class="md-fab md-raised md-mini"><i class="material-icons">chevron_left</i></md-button>
        Menus for week {{ vm.weekStart }} - {{ vm.weekEnd }}
        <md-button ng-click="vm.setNextWeek()" class="md-fab md-raised md-mini"><i class="material-icons">chevron_right</i></md-button>
      </h3>
    </div>

    <div>
      <md-tabs flex class="menu-days" md-selected="vm.selectedTabIndex" md-border-bottom md-dynamic-height="false" md-center-tabs="true">
        <md-tab ng-repeat="tab in vm.dayTabs"
                label="{{ tab.title }}"
                md-on-select="vm.onDayTabSelected($index)">
          <div style="padding: 25px; text-align: center;">
              <div ng-show="tab.orderedForDay">
                <md-card>
                  <img ng-if="tab.orderedForDay.food.image" ng-src="{{ tab.orderedForDay.food.image }}" class="md-card-image" alt="{{ tab.orderedForDay.food.description }}">
                  <md-card-content>
                    <h2 class="md-title">{{ tab.orderedForDay.food.description }}</h2>
                  </md-card-content>
                  <div class="md-actions" layout="row" layout-align="end center">
                    <md-button ng-disabled="true" flex>
                      Ordered
                      <i class="material-icons">done</i>
                    </md-button>
                  </div>
                </md-card>
              </div>

              <div ng-show="!tab.orderedForDay">
                <div ng-repeat="menuFood in tab.menuFoods">
                  <md-card>
                    <img ng-if="menuFood.food.image" ng-src="{{ menuFood.food.image }}" class="md-card-image" alt="{{ menuFood.food.description }}">
                    <md-card-content>
                      <h2 class="md-title">{{ menuFood.food.description }}</h2>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                      <md-button ng-show="!vm.isOldMenu(menuFood.menu)" flex ng-click="vm.orderMenuFood(menuFood)">Order</md-button>
                    </div>
                  </md-card>
                </div>
              </div>
          </div>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
