<md-dialog>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Add a Food to Menu {{ vm.menuDate }}</h2>
      <span flex></span> 
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;">
    <div layout="row" layout-wrap class="choose-food__foods">
      
      <div flex="33" flex-sm="100" flex-md="33" ng-repeat="food in vm.state.foods">
        <md-card class="food" ng-class="{ 'food--faded': vm.isAlreadySelected(food) }">
          <img ng-if="food.image" ng-src="{{ food.image }}" class="md-card-image" alt="{{ food.description }}">
          <md-card-content>
            <h2 class="md-title">{{ food.description }}</h2>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button flex ng-click="vm.selectFood(food)" ng-disabled="vm.isAlreadySelected(food)">Select</md-button>
          </div>
        </md-card>
      </div>
      
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="vm.cancel()">
      Cancel
    </md-button>
  </div>
  </form>
</md-dialog>