<h3>Create a Food</h3>

<md-progress-circular md-mode="indeterminate" ng-show="vm.loading"></md-progress-circular>

<form layout="row">
  <div flex>
    <md-input-container flex>
      <textarea id="description" class="validate materialize-textarea" ng-model="vm.food.description"></textarea>
      <label for="description">Description</label>
    </md-input-container>

    <md-button class="md-raised va-m" ui-sref="app.food">Back</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.saveFood(vm.food)">Save</md-button>
  </div>
  <div flex>
    <md-input-container flex>
      <input type="file" ng-file ng-model="vm.food.image" accept="image/jpeg,image/png">
      <img src="{{ vm.food.image }}" alt="">
    </md-input-container>
  </div>
</form>
