<h3>Create a Food</h3>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s6">
        <div class="input-field">
          <textarea id="description" class="validate materialize-textarea" ng-model="vm.food.description"></textarea>
          <label for="description">Description</label>
        </div>
        <button class="btn" ng-click="vm.saveFood(vm.food)">Save</button>
      </div>
      <div class="input-field col s6">
        <input type="file" ng-file ng-model="vm.food.image" accept="image/jpeg">
        <img src="{{ vm.food.image }}" alt="">
      </div>
    </div>
  </form>
</div>