<h3>Create a Food</h3>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s6">
        <div class="input-field">
          <textarea id="description" class="validate materialize-textarea" ng-model="vm.food.description"></textarea>
          <label for="description">Description</label>
        </div>
        <button class="btn" ng-click="vm.saveFood(vm.food)">Save</button>
      </div>
      <div class="input-field col s6">
        <div action="/api/admin/food/upload" class="dropzone" drop-zone
             data-max="1"
             name="image"
             auto-process="true"
             message="Drop file here or click to select"
             mimetypes="'.jpg,.jpeg,.png'"
             id="file-dropzone">
        </div>
      </div>
    </div>
  </form>
</div>