.header {
  margin: 1rem 0 3rem 0;
  position: relative;
}
.header .__logo {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 4rem;
  color: #ffa20f;
}
.header .__logo::before {
  content: '';
  display: inline-block;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 35px 65px;
  width: 35px;
  height: 65px;
  vertical-align: bottom;
}
.header .__logo::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 310px;
  right: 0;
  top: 24px;
  height: 3px;
  border-top: 3px solid #ffa20f;
}
.header .__subtitle {
  color: #a7a7a7;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto';
}
.header .__menu {
  font-size: 2rem;
  padding-top: 2rem;
}
.header .__menu .__icon {
  color: #404040;
}
.food {
  position: relative;
}
.food.food--faded {
  opacity: 0.6;
}
.food-create .box {
  background-color: #dfc8ca;
  padding: 6.25rem 1.25rem;
}
.food-create .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.food-create .inputfile-1 + label {
  color: #f1e5e6;
  background-color: #d3394c;
}
.food-create .inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  pointer-events: auto;
}
.food-create .inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}
.menu-days {
  height: 600px;
}
.menu-header {
  background-color: #ffa20f;
  color: #ffffff;
  font-weight: bold;
}
.user .user__name {
  margin-bottom: 0;
}
.user .user__email {
  margin-top: 0;
}
body {
  font-family: 'Roboto';
  font-weight: 400;
}
.left {
  float: left;
}
.right {
  float: right;
}
.va-m {
  vertical-align: middle;
}
.h100 {
  height: 100%;
}
.md-button .material-icons {
  line-height: 36px;
  vertical-align: middle;
}
.md-button.md-fab .material-icons {
  line-height: 54px;
}
.md-button.md-fab.md-mini .material-icons {
  line-height: 40px;
}
.md-open-menu-container .material-icons {
  line-height: 48px;
}
.choose-food__foods .md-actions {
  padding-left: 0;
}
md-progress-circular.light .md-inner .md-left .md-half-circle,
md-progress-circular.light .md-inner .md-right .md-half-circle {
  border-top-color: #FFFFFF;
}
md-progress-circular.light .md-inner .md-right .md-half-circle {
  border-right-color: #FFFFFF;
}
md-progress-circular.light .md-inner .md-left .md-half-circle {
  border-left-color: #FFFFFF;
}
.loader {
  height: 50px;
  width: 50px;
  min-width: 0;
  right: 10px;
  left: auto;
}
.loader > div {
  margin-left: -50px;
}
