.header {
  margin: 1rem 0 3rem 0;
  position: relative;
}
.header .__logo {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 4rem;
  color: #ffa20f;
}
.header .__logo::before {
  content: '';
  display: inline-block;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 35px 65px;
  width: 35px;
  height: 65px;
  vertical-align: bottom;
}
.header .__logo::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 310px;
  right: 0;
  top: 24px;
  height: 3px;
  border-top: 3px solid #ffa20f;
}
.header .__subtitle {
  color: #a7a7a7;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Roboto';
}
.header .__menu {
  font-size: 2rem;
  padding-top: 2rem;
}
.header .__menu .__icon {
  color: #404040;
}
.food.food--faded {
  opacity: 0.6;
}
.menu-days {
  height: 600px;
}
body {
  font-family: 'Roboto';
  font-weight: 400;
}
.left {
  float: left;
}
.right {
  float: right;
}
.va-m {
  vertical-align: middle;
}
.h100 {
  height: 100%;
}
.md-button .material-icons {
  line-height: 36px;
  vertical-align: middle;
}
.md-button.md-fab .material-icons {
  line-height: 54px;
}
.md-button.md-fab.md-mini .material-icons {
  line-height: 40px;
}
.md-open-menu-container .material-icons {
  line-height: 48px;
}
.choose-food__foods .md-actions {
  padding-left: 0;
}
