@import 'variables.less';
@import 'header.less';

body {
  font-family: 'Roboto';
  font-weight: 400;
}

.left {
  float: left;
}

.right {
  float: right;
}

.va-m {
  vertical-align: middle;
}

.h100 {
  height: 100%;
}

.md-button {
  .material-icons {
    line-height: 36px;
    vertical-align: middle;
  }

  &.md-fab {
    .material-icons {
      line-height: 54px;
    }
  }

  &.md-fab.md-mini {
    .material-icons {
      line-height: 40px;
    }
  }
}

.md-open-menu-container {
  .material-icons {
    line-height: 48px;
  }
}

.choose-food__foods {
  .md-actions {
    padding-left: 0;
  }
}