<h3>Manage Users</h3>

<div>
  <md-input-container>
    <label>Search (Name, Email, Food)</label>
    <input ng-model="vm.userFilter">
  </md-input-container>
</div>

<md-list class="users-list">
  <md-subheader class="md-no-sticky">Users and Permissions</md-subheader>
  <md-list-item ng-repeat="user in vm.state.users | filter: vm.userFilter" class="user" ng-class="{'user--unapproved': !user.roles.length }" layout-sm="column">

    <img ng-src="{{ user.avatar }}" class="md-avatar" />
    <div flex class="md-list-item-text" layout="column">
      <h3 class="user__name">{{ user.name }}</h3>
      <p class="user__email">{{ user.email }}</p>
    </div>
    
    <div flex="50">
      <md-button class="md-primary" ng-repeat="role in vm.state.roles" ng-click="vm.toggleRole(user, role)" ng-disabled="vm.isCurrentUser(user)">
          <i ng-if="$root.helpers.hasRole(role.name, user)" class="material-icons">remove</i>
          <i ng-if="!$root.helpers.hasRole(role.name, user)" class="material-icons">add</i>
        {{ role.display_name }}
      </md-button>

      <md-button class="md-warn" ng-click="vm.deleteUser(user)" ng-disabled="vm.isCurrentUser(user)">
        <md-tooltip>Delete User</md-tooltip>
        <i class="material-icons">delete</i>
      </md-button>
    </div>
  </md-list-item>
</md-list>