<h3>Manage Users</h3>

<ul class="collection">
  <li class="collection-item avatar" ng-repeat="user in vm.state.users">
    <img ng-src="{{ user.avatar }}" alt="" class="circle">
    <span class="title">{{ user.email }}</span>
    <p>{{ user.name }}</p>
    <span class="secondary-content">
      <button class="btn" ng-repeat="role in vm.state.roles" ng-click="vm.toggleRole(user, role)" href="#" ng-disabled="vm.isCurrentUser(user)">
          <i ng-if="$root.helpers.hasRole(role.name, user)" class="fa fa-minus"></i>
          <i ng-if="!$root.helpers.hasRole(role.name, user)" class="fa fa-plus"></i>
        {{ role.display_name }}
      </button>
    </span>
  </li>
</ul>