<h3>
  <md-button ng-click="vm.setPrevWeek()" class="md-fab md-raised md-mini"><i class="material-icons">chevron_left</i></md-button>
  Menus for week {{ vm.weekStart }} - {{ vm.weekEnd }}
  <md-button ng-click="vm.setNextWeek()" class="md-fab md-raised md-mini"><i class="material-icons">chevron_right</i></md-button>
</h3>

<div ng-show="!vm.loading">
    <md-button ng-if="!vm.menusPublished" class="md-raised" ng-click="vm.publishMenus(vm.week)">
      <i class="material-icons">publish</i> Publish
    </md-button>
    <md-button ng-if="vm.menusPublished" ng-disabled="true">
      <i class="material-icons">check</i> Published
  </md-button>
</div>

<div layout="row" layout-wrap>
  <md-content flex="20" flex-sm="100" flex-md="50" ng-repeat="menu in vm.state.menus">

    <md-button ng-show="!vm.isOldMenu(menu)" aria-label="Add" class="md-fab md-raised md-mini right" ng-click="vm.showFoodDialog(menu, $event)">
      <i class="material-icons">add</i>
    </md-button>

    <h3>{{ $root.helpers.getDayName(menu.date) }}</h3>

    <div ng-repeat="menuFood in menu.menu_foods">
      <md-card>
        <img ng-if="menuFood.food.image" ng-src="{{ menuFood.food.image }}" class="md-card-image" alt="{{ menuFood.food.description }}">
        <md-card-content>
          <h2 class="md-title">{{ menuFood.food.description }}</h2>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button ng-show="!vm.isOldMenu(menuFood.menu)" flex ng-click="vm.removeMenuFood(menuFood)">Remove</md-button>
        </div>
      </md-card>
    </div>
  </md-content>

</div>