<h3>Orders</h3>

<md-button target="blank" class="md-primary" ng-href="/orders/print/today">Print Today's Orders</md-button>

<h3>
  <md-button ng-click="vm.setPrevWeek()" class="md-fab md-raised md-mini"><i class="material-icons">chevron_left</i></md-button>
  Menus for week {{ vm.weekStart }} - {{ vm.weekEnd }}
  <md-button ng-click="vm.setNextWeek()" class="md-fab md-raised md-mini"><i class="material-icons">chevron_right</i></md-button>
</h3>

<div>
  <md-button ng-repeat="day in vm.days" ng-click="vm.day = $index" ng-class="{ 'md-raised md-primary': $index === vm.day }">{{ day.title }}</md-button>
</div>

<div>
  <md-input-container>
    <label>Search (Name, Email, Food)</label>
    <input ng-model="vm.userFilter">
  </md-input-container>
</div>

<md-list>
  <md-subheader class="md-no-sticky">Who ordered what</md-subheader>
  <md-list-item ng-repeat="user in vm.state.userOrders | filter: vm.userFilter" class="user" layout-sm="column">
    <img ng-src="{{ user.avatar }}" class="md-avatar" />
    <div flex class="md-list-item-text" layout="column">
      <h3 class="user__name">{{ user.name }}</h3>
      <p class="user__email">{{ user.email }}</p>
    </div>

    <div flex class="md-list-item-text" layout="column">
      <p ng-if="!!vm.getOrderedFoodForDay(user)" class="user__text">Ordered:</p>
      <p ng-if="!!vm.getOrderedFoodForDay(user)" class="user__text"><b>{{ vm.getOrderedFoodForDay(user).food.description }}</b></p>
      <p ng-if="!vm.getOrderedFoodForDay(user)" class="user__text--warning">Hasn't ordered yet.</p>
    </div>
  </md-list-item>
</md-list>